htdocs/authorize.php                                                                                                                                                                            
htdocs/CHANGELOG.txt                                                                                                                                                                            
htdocs/COPYRIGHT.txt                                                                                                                                                                            
htdocs/cron.php                                                                                                                                                                                 
htdocs/includes/                                                                                                                                                                                 
htdocs/index.php                                                                                                                                                                                
htdocs/INSTALL.mysql.txt                                                                                                                                                                        
htdocs/INSTALL.pgsql.txt                                                                                                                                                                        
htdocs/install.php                                                                                                                                                                              
htdocs/INSTALL.sqlite.txt                                                                                                                                                                       
htdocs/INSTALL.txt                                                                                                                                                                              
htdocs/LICENSE.txt
htdocs/MAINTAINERS.txt
htdocs/misc/
htdocs/modules/
htdocs/profiles/
htdocs/README.txt
htdocs/robots.txt
htdocs/scripts/
htdocs/themes/
htdocs/update.php
htdocs/UPGRADE.txt
htdocs/web.config
htdocs/xmlrpc.php


htdocs/sites/default/
htdocs/sites/example.sites.php
htdocs/sites/README.txt
htdocs/sites/all/themes/
htdocs/data.sql
htdocs/sites.oem/
htdocs/sites.old/
htdocs/sites/sandbox.entrieskeplerchallenge.co.nz
htdocs/sites/tyke.entrieskeplerchallenge.co.nz

htdocs/sites/*/settings.php

# Ignore Drupal's file directory
htdocs/sites/*/files/

*~
